body {
    font-family: 'Ubuntu',Tahoma,sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    padding-top: 50px;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.template-content {
    padding: 40px 15px;
    text-align: center;
}

#date-range {
    width: 400px;
}

#barchart {
    height: 500px;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.count {
    text-anchor: middle;
}

.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

.node circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

.node-text {
    font: 10px sans-serif;
    pointer-events: none;
}

.edge-text {
    font: 14px sans-serif;
    pointer-events: none;
}

.refresh-button-container {
    text-align: left;
}